:root {
  --pokemonSize: 80px;
}

body {
  background: #eee;
  margin: 0;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #333;
  margin: 1.5em 0;
  text-transform: uppercase;
  line-height: 1.2;
}

.heading h2,
.heading h3 {
  margin: 0;
}

.heading h2 {
  font-size: 2.6em;
}

.heading h3 {
  font-weight: 300;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

#busqueda,
#resultados {
  height: 100%;
  width: 50%;
  overflow-y: scroll;
}

#busqueda {
  background: #fff;
  position: relative;
}

.lista-pokemon {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-pokemon li input[type="radio"] {
  display: none;
}

.lista-pokemon li label {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
  user-select: none;
  border-radius: .2em;
  transition: all .3s ease;
}

.lista-pokemon li label strong {
  font-weight: normal;
}

.lista-pokemon li label span {
  color: #777;
  font-weight: 300;
}

.lista-pokemon li label img {
  width: var(--pokemonSize);
  height: var(--pokemonSize);
}

.lista-pokemon li label:hover {
  color: #000;
  background: #eee; 
}

.lista-pokemon li input[type="radio"]:checked + label {
  background: #c6e1ff;
}

#resultados .lista-pokemon li label {
  cursor: default;
}

.toolbar {
  box-sizing: border-box;
  background-color: #eee;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  text-transform: uppercase;
  font-size: .8em;
}

.upload-area {
  display: flex;
}

.upload-area a[type="button"] {
  color: #fff;
  background-color: indianred;
  padding: .7em 1.2em .9em;
  box-shadow: 0 -.25em 0 rgba(0, 0, 0, .3) inset;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  user-select: none;
}

.upload-area a[type="button"]:hover {
  cursor: pointer;
  background-color: #b34f4f;
}

.upload-area a[type="button"]:active {
  background-color: #963737;
}

.file-input {
  color: #222;
  background-color: gainsboro;
  padding: .7em 1.2em .9em;
  display: block !important;
  box-shadow: 0 -.25em 0 rgba(0, 0, 0, .3) inset;
  border-top-left-radius: .2em;
  border-bottom-left-radius: .2em;
  user-select: none;
}

.file-input label {
  cursor: pointer;  
}

.file-input:hover {
  background-color: #d2d2d2;
}

.file-input:active {
  background-color: #c5c5c5;
}

#buscar {
  cursor: pointer;
  color: #fff;
  background-color: steelblue;
  padding: .7em 1.2em .9em;
  border-radius: .2em;
  box-shadow: 0 -.25em 0 rgba(0, 0, 0, .3) inset; 
  user-select: none;
}

#buscar:hover {
  background-color: #396a92;
}

#buscar:active {
  background-color: #265073;
}

.limit-filter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.limit-number {
  color: #333;
  width: 135px;
}

.limit-number .label {
  font-weight: bold;
}

.limit-number .number {
  font-size: 1.4em;
}


/* SLIDER */

input[type=range].slider {
  -webkit-appearance: none;
  width: 312px;
  margin: 0px 0;
  margin-bottom: 1em;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #cccccc;
  border-radius: .2em;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #ff1e00;
  height: 30px;
  width: 50px;
  border-radius: 0px;
  background: #aaaaaa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
  border-radius: .2em;
  box-shadow: 0 -.25em 0 rgba(0, 0, 0, .3) inset; 
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #cfcfcf;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #cccccc;
  border-radius: .2em;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #ff1e00;
  height: 30px;
  width: 50px;
  border-radius: 0px;
  background: #aaaaaa;
  cursor: pointer;
  border-radius: .2em;
  box-shadow: 0 -.25em 0 rgba(0, 0, 0, .3) inset; 
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: .2em;
}
input[type=range].slider::-ms-fill-lower {
  background: #c9c9c9;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-fill-upper {
  background: #cccccc;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #ff1e00;
  width: 50px;
  border-radius: 0px;
  background: #aaaaaa;
  cursor: pointer;
  height: 30px;
  border-radius: .2em;
  box-shadow: 0 -.25em 0 rgba(0, 0, 0, .3) inset; 
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #cccccc;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #cfcfcf;
}



/* FIN SLIDER */